.change-row {
  display: grid;
  grid-template-columns: 20% 20% 10% 20% 10% 15% 4%;
  text-align: center;
  grid-gap: 2px;
}

.change-row-item {
    background-color: lightgrey;
    margin: 1px;
}

.table-title {
  background-color: #bda2ed;
  padding: 5px;
}